@use "../variables.scss";

.accessory-metric {
  font-family: variables.$font-accent;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: variables.$base-strong;
}
