@use "../variables.scss";
@use "../mixins.scss";

.additional-products__title {
  margin-top: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  @include mixins.accent-text();
}

.additional-products__offer {
  padding-top: 60px;
  padding-bottom: 45px;
  color: variables.$base-weak;
  background-image: url("../../img/covering-bg/catalog-special-offer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.additional-products__offer-text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
