@use "../mixins.scss";

.overview {
  padding-block: 25px;
  text-align: center;
}

.overview__caption {
  font-size: 16px;
  line-height: 20px;

  @include mixins.accent-text($color: #111111, $uppercase: true);
}

.overview__text {
  font-size: 12px;
  line-height: 16px;
}
