@use "../variables.scss";
@use "../mixins.scss";

.power-line {
  padding: 20px;
  background-color: variables.$faint-weak;
}

.power-line__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  @include mixins.accent-text($uppercase: true);
}

.power-line__link {
  font-size: 16px;
  line-height: 16px;
  @include mixins.accent-text($uppercase: true);
}
