@use "../variables.scss";

.promo {
  padding-top: 28px;
  padding-bottom: 10px;
  font-family: variables.$font-accent;
  text-align: center;
  color: variables.$base-weak;
  background-image: url("../../img/covering-bg/promo-cat.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.promo__caption {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
}

.promo__slogan {
  line-height: 14px;
  text-transform: uppercase;
}
