@use "../mixins.scss";

.stats {
  text-align: center;
}

.stats__description {
  font-size: 12px;
  line-height: 12px;

  &--summary {
    font-size: 14px;
    line-height: 20px;
    @include mixins.accent-text($uppercase: true);
  }
}

.stats__value {
  font-size: 24px;
  line-height: 24px;
  @include mixins.accent-text($uppercase: true);

  &--summary {
    font-size: 14px;
    line-height: 20px;
  }
}
