@use "../variables.scss";

.stats__description {
  font-size: 12px;
  line-height: 12px;
  text-align: center;

  &--summary-state {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }
}

.stats__value {
  font-size: 24px;
  line-height: 24px;
  text-align: center;

  &--summary-state {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }
}
