// Families
$base-strong: #000000;
$base-weak: #ffffff;
$faint-weak: #f2f2f2;
$accent-strong: #68b738;
$critical-strong: #ff8282;

// Shifts
$faint-weak-up: #ebebeb;
$accent-strong-up: #5eaa2f;

// Substitution
$text-base-strong: #444444;



